.contentContainer {
  overflow: hidden !important;
}

.ant-pro-basicLayout-content {
  margin: 0;
}

.editormd-preview-theme-dark {
  background: #2c2827;
}

.disabled,
.disabled > i,
.disabled > i:hover {
  background-color: #2c2e2e !important;
  cursor: default;
}

.change,
.change > i {
  color: #fff;
  background-color: #44b036 !important;
}

.editormd-menu a.change {
  border: 1px #44b036 solid !important;
}
