@primary-background: #212121;
@second-background: #424242;
@nav-header-background: #080808;
@sider-bar-menu-background: #2c2e2e;
@card-custom-background: @sider-bar-menu-background;

@slider-menu-width: 272px;
@header-main-left-width: 272px;

@sider-bar-menu-item-height: 40px;
