@primary-background: #212121;
@second-background: #424242;
@nav-header-background: #080808;
@sider-bar-menu-background: #212323;

@slider-menu-width: 272px;
@header-main-left-width: 256px;

@sider-bar-menu-item-height: 40px;
