@import '~antd/es/style/themes/default.less';
@import './custom-define';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  background: @primary-background !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset !important;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none !important;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-layout-header {
  background: @nav-header-background !important;
}

.ant-pro-top-nav-header-main-left {
  min-width: @header-main-left-width !important;
}

.ant-pro-top-nav-header-main {
  padding-left: 0 !important;
}

.ant-layout-footer {
  background: transparent !important;
}

.ant-pro-global-footer {
  margin: 16px 0 16px 0 !important;
  padding: 0 16px !important;
  text-align: center !important;
}

.ant-divider-horizontal {
  margin: @divider-verticle-margin 0 !important;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: @second-background;
  border-radius: 4px;
}

/* 边角，即两个滚动条的交汇处 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}
